* {
    margin-left: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto;
    color: rgb(218, 225, 229);
}

.modal {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.522);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: none;
    justify-content: center;
    align-items: center;
}

.modalContent {
    background-color: white;
    width: 70%;
    height: 50%;
    border-radius: 16px;
    position: relative;
    
}

.closeModal {
    position: absolute;
    right: 2rem;
    top: 2rem;
    font-size: 1.3rem;
    padding: 0.4rem;
    background-color:  rgb(63, 111, 111);
    border: 0;
    border-radius: 4px;
}

.toast {
    position: fixed;
    top: 8rem;
    right: 2rem;
    padding: 1rem;
    background-color: rgb(63, 111, 111);
    border-radius: 8px;
    transform: translate(150px);
    transition: 2s;
}

body {
    min-height: 100vh;
    background-color: rgb(65, 80, 80);
    display: grid;
    grid-template-columns: 350px 1fr;
    grid-template-areas: "header header"
                         "aside main"
                         "footer footer";
    grid-template-rows: 6rem 1fr 6rem;                         
}

button {
    cursor: pointer;
}

header {
    grid-area: header;
    background-color: rgb(65, 80, 80);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
}

header > div {
    display: flex;
    gap: 1.5rem;
}

header > div > button {
    border: none;
    background-color: transparent;
    font-size: 1.5rem;
}

.shoppingCart {
    position: relative;
}

.shoppingCart > span {
    position: absolute;
    right: -0.5rem;
    top: -0.4rem;
    background-color:  rgb(63, 111, 111);
    padding: 3px 6px;
    border-radius: 50%;
    font-size: 9.3px;
}

.finishCart {
    position: absolute;
    right: 0;
    background-color: white;
    border: 1px solid rgb(95, 95, 95);
    box-shadow: 0 0 10px rgb(95, 95, 95);
    padding: 1rem;
    border-radius: 4px;
    width: 300px;
    display: none;
}

.finishCart > button {
    width: 100%;
    margin-top: 2rem;
    padding: 0.7rem;
    font-size: 1.1rem;
    border: none;
}

.shoppingCart:hover .finishCart,
.finishCart:hover {
    display: block;
}

.cartProduct {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 0.5rem;
    margin-top: 0.5rem;
}

.cartProduct:not(:last-of-type) {
    border-bottom: 1px solid gray;
}

.cartProduct .quantity {
    width: 75px;
    display: flex;
}

.cartProduct .quantity button {
    width: 33%;
    font-size: 1.4rem;
}

.cartProduct .quantity input {
    width: 33%;
    text-align: center;
    font-size: 1.2rem;
}


.cartProduct img {
    width: 4rem;
}

aside {
    grid-area: aside;
    background-color: rgb(68, 83, 83);
    padding: 1.5rem;
}

.categories label {
    display: flex;
    gap: 0.5rem;
    font-size: 1.5rem;
    margin-top: 1rem;
    background-color: rgb(68, 83, 83);
}

.categories input {
    width: 1.2rem;
    background-color: rgb(68, 83, 83);
}

.categories {
    background-color: rgb(68, 83, 83);
}

main {
    grid-area: main;
    background-color: rgb(78, 94, 94);
    padding: 3rem 2rem;
}

main > section > div {
    background-color: rgb(78, 94, 94);
}

main > section > div > h4 {
    background-color: rgb(78, 94, 94);
}

main > section > div > div {
    background-color: rgb(78, 94, 94);
}

main > section > div > div > p {
    background-color: rgb(78, 94, 94);
}

main > section > div > div > p > button {
    background-color: rgb(78, 94, 94);
}

.categoriesHeader {
    background-color:  rgb(68, 83, 83);
}

.ourStuff {
    background-color: rgb(78, 94, 94);
}

.shoppingCartForProduct {
    background-color: rgb(78, 94, 94);
}

.productsList {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    margin-top: 2rem;
    background-color: rgb(78, 94, 94);
}

.product > img {
    width: 100%;
    height: 70%;
    background-color: rgb(78, 94, 94);
}

.product > button > img {
    background-color: rgb(78, 94, 94);
}


.product h4 {
    font-size: 1.2rem;
    margin-top: 0.5rem;
}

.product div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1rem;
}

.product button {
    background-color:  rgb(78, 94, 94);
    border: none;
    padding: 5px;
}

footer {
    grid-area: footer;
    display: flex;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 1.2rem;
}


